doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        link(rel='stylesheet', href='app.css', media='all')

    body
        each val in data.directory2
            div
                h1=val.title
                each thing in val.something
                    div=thing.title
                    div=thing.snippet
